---
import Tag from "./Tag.astro";
---

<!--change one of them to hardware interface design -->
<div class="tag-container">
    <div class="tag-bar">
        <Tag buttonName="All Work" tag="tag-selected"/>
        <Tag buttonName="Prototyping" tag="tag-unselected"/>
        <Tag buttonName="AI" tag="tag-unselected" />
        <Tag buttonName="Digital Art" tag="tag-unselected" />
        <Tag buttonName="UX Research" tag="tag-unselected" />
        <Tag buttonName="Design Systems" tag="tag-unselected"/>
    </div>
</div>