---
import Tag from "./Tag.astro";
---

<div class="">
    <div class="">
        <Tag buttonName="Show All"/>
        <Tag buttonName="AI"/>
        <Tag buttonName="Prototyping"/>
        <Tag buttonName="Digital Art"/>
        <Tag buttonName="UX Research"/>
        <Tag buttonName="Design Systems"/>
    </div>
</div>