---
import Tag from "./Tag.astro";
//qui è da aggiungere il trigger per lo script
---

<div class="tag-container">
    <div class="tag-bar">
        <Tag buttonName="Show All"/>
        <Tag buttonName="AI"/>
        <Tag buttonName="Prototyping"/>
        <Tag buttonName="Digital Art"/>
        <Tag buttonName="UX Research"/>
        <Tag buttonName="Design Systems"/>
    </div>
</div>