---
import { getCollection } from "astro:content";
import Tag from "./Tag.astro";

const Projects = await getCollection("projects");
const tags = Projects.map((p) => p.data.tags).flat();

const uniqueTags = [...new Set(tags)];
---

<div class="tag-container">
    <div class="tag-bar">
        <Tag tag="All Work" style="tag-selected"/>
        {uniqueTags.map((tag) => 
        <Tag 
            tag={tag} 
            style="tag-unselected"
        />)}
    </div>
</div>