---
const {title, subhead} = Astro.props;
import Hidden from '../Header/Hidden.astro';
import XButton from './XButton.astro';
---
<header class="header-proj">
    <div class="header-main">
        <div class="container">
            <div class="project-nav">
                <nav class="site-menu" id="stop">
                    <div class="text">
                        <h1>{title}</h1>
                        <h3>{subhead}</h3>
                    </div>
                </nav>
            </div>
            <XButton/>
        </div>
        <Hidden/>
    </div>
</header>