/*CAMBIARE TUTTO*/


/*--GENERAL--*/

:root{
    --global-background: #fff;
    --global-primary: #000;
    --global-secondary: #999;
    --global-secondary-hover: #6a6a6a;
    --global-select: #EE805A;
    --global-font-primary:'Geist Sans', 'Arial', sans-serif;
    --global-font-secondary:'Geist Mono','Courier', monospace;
}

html {
    width: 100%;
    height: 100%;
    background-color:var(--global-background);
    font-family: var(--global-font-primary);
    font-size: 100%;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    margin:0;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
}


body.show-nav{
    overflow:hidden;
    height:100%;
}

article, aside, footer, header, nav, section {
    display: block;
}

a{
    color: var(--global-secondary);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip:objects;
}

a:link, a:visited{
    color: var(--global-primary);
}

a:active{
    color: var(--global-select);
}

a:hover{
    color: var(--global-secondary);
}

ul{
    margin: 0 0 15px;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    line-height: 150%;
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

p {
    margin: 0 0 15px;
    line-height: 150%;
}

button{
    -webkit-appearance: button;
    appearance: button;
}

hr{
    border: 1px solid var(--global-primary);
    margin: 0 0 30px 0;
}

.header-nav .site-menu ul li a:hover{
    background-color: transparent;
    color: var(--global-secondary);
}

.header-nav .site-menu ul li.menu-active a {
    background-color: transparent;
    color: var(--global-secondary);
}


.header-nav .site-menu ul li a:after {
    content: ',';
    color: var(--global-primary);
}

.header-nav .site-menu ul li:last-child a:after{
    content:' ';
}

.container{
   max-width: 3000px;
   margin: 0 auto;
   padding: 0 14px; 
}

.wrapper {
    position: relative;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -14px;
	margin-right: -14px;
}

.row.small-padding {
	margin-left: -7px;
	margin-right: -7px;
}

.row.no-padding {
	margin-left: 0;
	margin-right: 0;
}

.row.flex-end {
	justify-content: flex-end;
}

.row.flex-center {
	justify-content: center;
}

.row.align-center {
	align-items: center;
}

.column {
    display: block;
    width: 100%;
    float: left;
    padding-left: 14px;
    padding-right: 14px;
}

.row.small-padding .column {
	padding-left: 7px;
	padding-right: 7px;
}

.row.no-padding .column {
	padding-left: 0;
	padding-right: 0;
}

main,
#main {
	position: relative;
	min-height: calc(100% - 200px);
}

.page-home .tagline-box, .page-experiment .tagline-box {
	text-align: center;
	font-size: 30px;
	padding: 20px 0 50px;
	margin: 0 0 15px;
	line-height: 125%;
}

.page-home .tagline-box .tagline-description, .page-experiment .tagline-box .tagline-experiments {
    max-width: 300px;
    display: inline-block;
    text-align: center;
}

.small-1-4 {
	width: 25%;
}

.small-1-2 {
	width: 50%;
}

.small-3-4 {
	width: 75%;
}

/*--MOBILE--*/

.header{
    position: relative;
    height: 60px;
}

.header-main{
    width: 100%;
    height:60px;
    transition: ease 0s all;
    top:0;
    position: absolute;
    z-index: 9999;
}

.header-nav{
    padding: 0;
    display: block;
    width: 100%;
    height:100vh;
    position:absolute;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    visibility: hidden;
    opacity: 0;
    transition: ease-in 0.3s all;
    z-index: 9;
}

.header-nav .site-menu{
    display: flex;
    width: 100%;
    height: 100%;
    position: static;
    top: 0;
    left: 0;
    margin: 0;
    padding: 60px 10px 180px 10px;
    list-style-type: none;
    transition: ease-in 0.3s all9;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    z-index:99;
}

.header-nav .site-menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.header-nav .site-menu ul li {
    line-height: 100%;
    padding: 5px 0;
}

.header-nav .site-menu ul li a {
    color: var(--global-primary);
    display: block;
    padding: 10px;
    font-size: 37px;
    text-decoration: none;
    font-weight: 400;
    position: relative;
    text-align: center;
    transition: ease 0.3s all;
}

.show-nav .header-nav {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
	visibility: visible;
}

.show-nav .header-nav .site-menu {
	transition: ease-in 0.3s all;
	visibility: visible;
	background-color: var(--global-background);
}

.logo-box{
    width: 5rem;
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 12px 0 0 0;
    position: relative;
}


.logo{
    content: url('/logo-idle.svg');
    width: fit-content;
    cursor:pointer;
}

.logo:hover, .logo:active {
    content: url('/logo-hover.svg');
    position: relative;
    width: fit-content;
    height: fit-content;
    cursor:pointer;
}

.hamburger {
    background-color: var(--global-secondary);
    display: block;
    position: absolute;
    border: 0;
    top: 12px;
    right: 15px;
    color: var(--global-secondary);
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    outline: 0;
    margin: 0;
    padding: 0 9px;
    z-index:999;
    text-align: center;
    transition: all 0.6s ease;
    border-radius: 50%;
    cursor: pointer;
}

.hamburger span{
    position: relative;
    top: 0;
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    background: var(--global-primary);
    transition: 300ms ease-in-out;
}

.hamburger span:last-child{
    margin-bottom: 0;
}

.hamburger:active {
    background-color: var(--global-secondary);
}

.show-nav .hamburger {
	background-color: var(--global-secondary);
}

.show-nav .hamburger span:nth-child(2) {
    opacity: 0;
	transform: scale(.5, .5);
}

.show-nav .hamburger span:first-child {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 6px;
}

.show-nav .hamburger span:last-child {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -6px;
}


/*footer*/
.action-call{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 65%;
}

.smiley{
    content: url('/favicon.svg');
    margin-bottom: 5px;
}

.sub-head{
    font-family: var(--global-font-secondary);
}

.footer {
    padding: 20px 0px 1px;
}

.footer.variable{
    padding: 0 0 1px;
}

.footer a{
    color: var(--global-primary);
    font-weight: 600;
}

.footer .action-call {
	margin: 20px 0 10px;
}

.footer .column p{
    font-size: 15px;
}

.footer .link{
    display:flex;
    align-items: center;
    width: auto;
    margin: 15px 0;
    padding: 0;
}

.link img{
    margin: 0 5px 0 0;
    height: fit-content;
    width: fit-content;
    padding: 2px;
}


.link .hand-img{
    content:url('/hand.svg');
    width: 25px;
}

.link .linkedin-img{
    content:url('/linkedin.svg');
    width: 25px;
}

.link .instagram-img{
    content:url('/instagram.svg');
    width: 25px;
}

.link .github-img{
    content:url('/github.svg');
    width: 25px;
}

.column .smiley p{
    align-items: center;
    justify-content: center;
}

.footer .action-call p{
    font-size: 27px;
    line-height: 110%;
    font-style: normal;
    font-family: var(--global-font-secondary);
    letter-spacing: -0.5px;
    text-align: center;
}

.footer .action-call p.tag{
    line-height: 125%;
}

.footer .action-call p span{
    font-weight:400;
    font-style: normal;
}

.footer .nav ul {
	list-style-type: none;
	padding: 0;
}

.footer .nav ul li {
	padding: 15px 0 5px;
}

.footer .copy {
	align-self: flex-end;
	text-align: right;
}

.footer .copy p {
	font-size: 12px;
}

.footer .work-link {
	margin: 0 0 40px;
}


.tagline-box .tagline-description {
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tagline-box .tagline-experiments {
    text-align: center;
    font-family: var(--global-font-secondary);
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
}

.shortcut{
    align-self: stretch;
    text-align: center;
    font-family: var(--global-font-secondary);
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.05rem;
    text-transform: lowercase;
    font-size: 1.25rem; 
    line-height: 1.15;
    margin: 3rem;
}

.shortcut a{
    text-decoration: underline;
}

.main-content{
    display: none;
}

.main-content-mobile{
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.main-content-mobile img{
    object-position: 100% 50%;
    width: 100%;
    margin-bottom: 2rem;
}

.heroshot{
    margin:0;
    overflow: hidden;
}

.work-project{
    padding: 15px 0;
}

.work-project a{
    text-decoration: underline;
}


.work-project .inner{
    width: 100%;
    max-width: 475px;
}

.work-project .image{
    margin: 0 0 30px;
}

.work-project .image img{
    display: block;
    border-radius: 16px;
    overflow: hidden;
}

.image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.credits{
    margin-bottom: 10px;
    text-align: left;
}

@media only screen and (min-width:768px) {
	.medium-1-10 {
		width: 10%;
	}

	.medium-1-5 {
		width: 20%;
	}

	.medium-1-4 {
		width: 25%;
	}

	.medium-3-10 {
		width: 30%;
	}

	.medium-1-3 {
		width: 33.33334%;
	}

	.medium-2-5 {
		width: 40%;
	}

	.medium-45 {
		width: 45%;
	}

	.medium-1-2 {
		width: 50%;
	}

	.medium-3-5 {
		width: 60%;
	}

	.medium-2-3 {
		width: 66.66666%;
	}

	.medium-3-4 {
		width: 75%;
	}
}

@media only screen and (min-width:1024px) {
    .large-1-20 {
		width: 5%;
	}

	.large-1-5 {
		width: 20%;
	}

	.large-1-4 {
		width: 25%;
	}

	.large-4-15 {
		width: 26.6666%;
	}

	.large-3-10 {
		width: 30%;
	}

	.large-1-3 {
		width: 33.33334%;
	}

	.large-35 {
		width: 35%;
	}

	.large-2-5 {
		width: 40%;
	}

	.large-9-20 {
		width: 45%;
	}

	.large-1-2 {
		width: 50%;
	}

	.large-11-20 {
		width: 55%;
	}

	.large-3-5 {
		width: 60%;
	}

	.large-2-3 {
		width: 66.66666%;
	}

	.large-3-4 {
		width: 75%;
	}
}

@media only screen and (min-width:1400px) {
	.xlarge-1-20 {
		width: 5%;
	}

	.xlarge-1-6 {
		width: 16.6666%;
	}

	.xlarge-1-5 {
		width: 20%;
	}

	.xlarge-1-4 {
		width: 25%;
	}

	.xlarge-4-15 {
		width: 26.6666%;
	}

	.xlarge-3-10 {
		width: 30%;
	}

	.xlarge-1-3 {
		width: 33.33334%;
	}

	.xlarge-2-5 {
		width: 40%;
	}

	.xlarge-1-2 {
		width: 50%;
	}

	.xlarge-3-5 {
		width: 60%;
	}

	.xlarge-2-3 {
		width: 66.66666%;
	}

	.xlarge-3-4 {
		width: 75%;
	}
}

@media only screen and (min-width:1600px) {
	.xxlarge-1-20 {
		width: 5%;
	}

	.xxlarge-1-6 {
		width: 16.6666%;
	}

	.xxlarge-1-5 {
		width: 20%;
	}

	.xxlarge-1-4 {
		width: 25%;
	}

	.xxlarge-3-10 {
		width: 30%;
	}

	.xxlarge-1-3 {
		width: 33.33334%;
	}

	.xxlarge-2-5 {
		width: 40%;
	}

	.xxlarge-1-2 {
		width: 50%;
	}

	.xxlarge-3-5 {
		width: 60%;
	}

	.xxlarge-2-3 {
		width: 66.66666%;
	}

	.xxlarge-3-4 {
		width: 75%;
	}
}

/*--TABLET--*/

@media screen and (min-width:768px) {

    body.show-nav{overflow:auto}

    .header{
        height:180px;
    }

    .header-main{
        height:auto;
    }

    .header-nav, .show-nav .header-nav{
        visibility: visible;
        height:auto;
        -webkit-transform: translate(1);
        transform: translate(1);
        opacity: 1;
        transition: none;
        z-index: 1;
    }

    .header-nav .site-menu {
        background-color: transparent;
        padding: 80px 25px 60px 25px;
        text-align: center;
        transition: none;
    }

    .header-nav .site-menu ul li {
        display: inline-block;
    }

    .header-nav .site-menu ul li a {
        padding: 10px 2px;
        font-size: 32px;
        transition: none;
    }
    
    .hamburger{
        display: none;
    }

    .page-home .tagline-box, .page-experiment .tagline-box {
        font-size: 36px;
        padding: 40px 0 130px;
    }

    .logo-box{
        width: 6rem;
        padding: 20px 0 0 0;
        z-index: 1;
    }

    .footer{
        padding: 25px 0 1px;
    }

    .footer .action-call p {
		max-width: 400px;
	}

    .footer .nav ul li {
		display: inline-block;
		padding: 5px 0;
        font-size: 15px;
		margin: 0 30px 0 0;
	}

    .description-homepage .div-description-project {
        font-size: 1rem;
    }

    /*--COMPONENTS--*/

    .main-content-mobile{
        display: none;
    }

    .main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 1rem 2rem 4rem 2rem;
        justify-content: space-between;
        align-items: top;
    }

    .page-home .tagline-box .tagline-description, .page-experiment .tagline-box .tagline-experiments{
        max-width: 640px;
    }
       
    .main-content img{
        width: 100%;
    }

    .content-column{
        display: block;
        padding: 0 2rem;
    }

    .work-project{
        padding: 0 50px 50px;
    }
    
    .credits{
        text-align: center;
    }

    .image img{
        height: 428px;
    }
}


@media only screen and (min-width:1024px) {
	
    .footer {
		padding: 100px 0 1px;
	}

	.footer .action-call {
		order: 1;
		margin: 0 0 60px 0;
	}

	.footer .action-call p {
		max-width: 550px;
		font-size: 36px;
	}

	.footer .contact {
		order: 3;
	}

	.footer .social-link {
		order: 4;
	}

	.footer .work-link {
		order: 5;
		margin: 0;
	}

	.footer .nav {
		order: 2;
		align-self: flex-end;
		margin: 0 0 60px;
	}

	.footer .nav ul {
		display: flex;
	}

	.footer .nav ul li {
		width: 25%;
	}

	.footer .nav ul li {
		margin: 0 15px 0 0;
	}

	.footer .copy {
		order: 6;
	}
}


@media only screen and (min-width:1220px) {
	.footer .action-call p {
		max-width: 600px;
		font-size: 36px;
	}
}

/*--COMPUTER--*/
