:root{
    --global-background: #fff;
    --global-primary: #000;
    --global-secondary: #CECECE;
    --global-select: #EE805A;
    --global-font-primary:'Geist Sans', sans-serif;
    --global-font-secondary:'Geist Mono', monospace;
}

html{background-color:var(--global-background);}

*{box-sizing: border-box;}

body{
    font-family: var(--global-font-primary);
    margin:0;
}

a:link, a:visited{
    color: var(--global-primary);
}

a:hover{
    color: var(--global-secondary);
}

a:active{
    color: var(--global-select);
}

/*navigation component css*/
.header{
    display: inline-flex;
    width: 100vw;
    padding:1rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--global-background);
}

.logo-box{
    width: 6rem;
    height: auto;
    flex-shrink:0;
}

.logo{
    content: url('/logo-idle.svg');
    position: relative;
    width: fit-content;
    height: fit-content;
}

.logo:hover{
    content: url('/logo-hover.svg');
    position: relative;
    width: fit-content;
    height: fit-content;
    cursor:pointer;
}

.hamburger {
    content: url('/menu-mobile-closed.svg');
    float:right;
    cursor: pointer;
}

.hamburger.open {
    content: url('/menu-mobile-open.svg');
}

.menu{
    width: 100%;
    top: 5rem;
    left:48px;
    display: none;
    margin: 0;
}

.menu a {
    display: block;
    text-align: center;
    padding: 30px 0;
    text-decoration: underline;
    font-size: 1.2rem;
    background-color: var(--global-secondary);
}

.nav-links{
    display: none;
}

.expanded{
    display:unset;
}

/*footer*/
.action-call{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 5%;
}

.action-call a{
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.01875rem;
    text-decoration-line: underline;
    text-transform: lowercase;
}

.smiley{
    content: url('/favicon.svg');
}

.sub-head{
    font-family: var(--global-font-secondary);
}

.footer-link{
   display: block;
   align-items: center;
   justify-content: center;
}

/*description*/
.description-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: 1rem 10%;
}

.description-homepage .div-description {
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


@media screen and (min-width:636px) {

    .hamburger{
        display: none;
    }

    .menu{
        display: none;
    }

    .nav-links {
        display: flex;
        width: 100%;
        gap: 10%;
        padding-right: 5rem;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-links a {
        display: inline-block;
    }

    .description-homepage{
        padding: 3rem 20%;
        font-size:3rem;
    }
}