---
---
<div class="tagline-box">
    <div class="tagline-description">
        Ciao!<br />I’m Federico Denni, I design &amp;&amp; prototype products &amp;&amp; interfaces, looking at how to
        solve future problems into meaningful experiences
    </div>
</div>