---
const {Content, img, alt} = Astro.props; 
---

<article class="row">
    <div class="column large-1-2">
        <div class="inner">
            {Content}
        </div>
    </div>
    <div class="column large-1-2">
        <div class="image">
            <img src={img} alt={alt}>
        </div>
    </div>
</article>
<hr/>
