---
import BaseLayout from "../layouts/BaseLayout.astro";
import Man from "../components/Content/Dancing.jsx";
---

<BaseLayout>
  <div>
    <h2>Ops!</h2>
    <h3>Seems like this page doesn't exist!</h3>
  </div>
  <Man client:only="react"/>
</BaseLayout>

  