---
import BaseLayout from "../layouts/BaseLayout.astro";
import Man from "../components/Content/Dancing.jsx";
---

<BaseLayout>
  <div class="error-page">
    <div class="row">
      <div class="column medium-1-2 large-1-2 message">
        <h2>Ups!</h2>
        <h3>Seems like this page doesn't exist!(yet)</h3>
        <p>Maybe the path was written wrong or maybe the page is a work in process ;) <br/> in any case lets enjoy a lil dance</p>
        <div class="error-contact">
          <button>Contact me, if the error persist!</button>
        </div>
      </div>
      <div class="column medium-1-2 large-1-2" style="height:400px;">
        <Man client:only="react"/>
      </div>
    </div>
  </div>
</BaseLayout>

  