---
import BaseLayout from "../layouts/BaseLayout.astro";
import Man from "../components/Content/Dancing.jsx";
---

<BaseLayout>
  <div class="row error-page">
    <div class="message">
      <h2>Ups, <br/> a wild <span>404</span> appear!</h2>
      <h3>Seems like this page doesn't exist!(yet)</h3>
      <p>Maybe the path was written wrong or maybe the page is a work in progress ;) <br/> in any case lets enjoy a lil dance</p>
      <p class="choo-choo">Thanks to <a href="https://www.youtube.com/watch?v=IxdGyqhppis">the coding train</a> for the code</p>
    </div>
    <div class="column animation">
      <Man client:only="react"/>
    </div>
    <div class="error-contact">
      <a href="mailto:fredenni.git@gmail.com?subject=Hi!">Contact me, if the error persist!</a>
    </div>
  </div>
</BaseLayout>