---
import ExperimentsCard from "../components/Card/ExperimentsCard.astro"
import Concept from "../components/Content/Concept.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <div class="page-experiment">
    <Concept/>
  </div>
  <div class="experiments-project">
    <ExperimentsCard/>    
  </div>
</BaseLayout>