---
import Concept from "../components/Content/Concept.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <div class="page-experiment">
    <Concept/>
  </div>
  <div class="experiments-project">
    <!--buttare qua container con layout per esperimenti content collection-->
  </div>
</BaseLayout>