---
import BaseLayout from "../layouts/BaseLayout.astro";
import Tagline from "../components/Content/Tagline.astro";

import ProjectCard from "../components/Card/ProjectCard.astro";
const allProjects = await Astro.glob('../pages/projects/*.md');
---

<BaseLayout>
  <div class="page-home">
    <Tagline/>
    <!--qui va dashboard progetti work -->
    <ul>
      {allProjects.map((projects) => <ProjectCard url={projects.url} title={projects.frontmatter.title} />)}    
    </ul>
    <div class="shortcut">
      <a href="/experiments/">i wanna see other projects!</a>
    </div>
  </div>
</BaseLayout>