---
import BaseLayout from "../layouts/BaseLayout.astro";
import Description from "../components/Description.astro";
---

<BaseLayout>
  <Description/>
  <div class="shortcut">
  <a href="/works/">i wanna see other projects!</a>
  </div> 
</BaseLayout>