---
import BaseLayout from "../layouts/BaseLayout.astro";
import Tagline from "../components/Content/Tagline.astro";
---

<BaseLayout>
  <div class="page-home">
    <Tagline/>
    <!--qui va dashboard progetti home -->
    <div class="shortcut">
      <a href="/works/">i wanna see other projects!</a>
    </div>
  </div>
</BaseLayout>