---
import BaseLayout from "../layouts/BaseLayout.astro";
import Tagline from "../components/Content/Tagline.astro";
---

<BaseLayout>
  <div class="page-home">
    <Tagline/>
    <!--qui vanno tag -->
    <!--qui va dashboard progetti work -->
    <ul>
      <li><a href="/projects/hacko/">HACKO</a></li> <!--fare generativo a seconda dei post, vedi tutorial astro(content collection) -->
    </ul>
    <div class="shortcut">
      <a href="/works/">i wanna see other projects!</a>
    </div>
  </div>
</BaseLayout>