---
import Taglinework from "../components/Content/Taglinework.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <div class="page-works">
    <Taglinework/>
    <!--qui vanno tag -->
    <!--qui va dashboard progetti work -->
      <ul>
          <li><a href="/projects/hacko/">HACKO</a></li>
      </ul>
  </div>
</BaseLayout>