---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
    <h1>Works</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        <li><a href="/projects/hacko/">HACKO</a></li>
      </ul>
</BaseLayout>