---
import ProjectDescription from "../components/Project-description.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <ProjectDescription/>
    <ul>
        <li><a href="/projects/hacko/">HACKO</a></li>
    </ul>
</BaseLayout>