---
import Navigation from '../Header/Navigation.astro';
---
<header class="header">
  <div class="header-main">
      <Navigation />
  </div>
  <div class="container">
    <div class="logo-box">
      <a href="/">
      <img class="logo" alt="fre-denni logo">
      </a>
    </div>
    <img class="hamburger" alt="navigation icons"> <!--valuta se fare componente animato -->
  </div>
  </div>
</header>