---
import Navigation from '../Header/Navigation.astro';
import Menu from '../Header/Menu.astro';
---
<header>
  <nav class="header">
    <div class="logo-box">
      <a href="/">
      <img class="logo" alt="fre-denni logo">
      </a>
    </div>
    <img class="hamburger" alt="navigation icons">
    <Navigation />
  </nav>
    <Menu />
</header>