---
import Navigation from '../Header/Navigation.astro';
import Hamburger from './Hamburger.astro';
import Hidden from './Hidden.astro';
---
<header class="header">
  <div class="header-main">
    <Navigation />
    <div class="container">
      <div class="logo-box">
        <a href="/">
        <img class="logo" alt="fre-denni logo">
        </a>
      </div>
      <Hamburger/>
      <a class="header-btn" href="mailto:federico.denni.design@gmail.com?subject=Hi!">
        Get in touch!
      </a>
      </div>
      <Hidden/>
    </div>
  </div>
</header>