---

---

<div class="hidden-nav">
    <nav class="site-menu">
        <ul class="menu">
            <li class={`menu-item home-link page-home ${new URL(Astro.request.url).pathname === '/' ? 'menu-active' : ''}`}><a href="/">Works </a></li>
            <li class={`menu-item about-link page-about ${new URL(Astro.request.url).pathname === '/about/' ? 'menu-active' : ''}`}><a href="/about/">Who?</a></li>
        </ul>
    </nav>
</div>