---
//da fare a schermo intero
---
<nav class="hidden-nav">
    <ul class="nav-links">
        <li class="menu-item"><a href="/works/">works</a></li>
        <li class="menu-item"><a href="/about/">who?</a></li>
    </ul>
</nav>
