---
//add also menu logic like rob and robin
---
<div class="header-nav">
    <nav class="site-menu">
        <ul class="menu">
            <li class="menu-item"><a href="/">works</a></li>
            <li class="menu-item"><a href="/experiments/">experiments</a></li>
            <li class="menu-item"><a href="/about/">who?</a></li> <!--change according to new graphic (add ",") -->
        </ul>
    </nav>
</div>
