---
//add also menu logic like rob and robin
---
<div class="header-nav">
    <nav class="site-menu">
        <ul class="menu">
            <li class="menu-item"><a href="/">Works </a></li>
            <li class="menu-item"><a href="/experiments/">Experiments </a></li>
            <li class="menu-item"><a href="/about/">Who?</a></li> <!--cambia con about.md -->             <!--change according to new graphic (add ",") -->
        </ul>
    </nav>
</div>
