---
import Social from "./Social.astro"
---

<footer>
    <div class="action-call">
        <img class="smiley" alt="attract-attention">
        <p class="sub-head">would you hire me?</p>
        <a href="mailto:federico.denni.design@gmail.com?subject=Hi!">get in touch!</a>
    </div>
    <div class="footer-link">
        <span>You can find me wandering here:</span>
        <Social platform="linkedin" username="in/federico-denni"/>
        <Social platform="github" username="fre-denni"/>
        <Social platform="instagram" username="federicodenni"/>
    </div>
</footer>