---
import Social from "./Social.astro"
---

<footer>
    <div class="action-call">
        <img class="smiley" alt="attract-attention">
        <p class="sub-head">would you hire me?</p>
        <a href="mailto:federico.denni.design@gmail.com?subject=Hi!">get in touch!</a>
    </div>
    <div class="footer-link">
        <ul>
        <li>Design and Coded with ♥</li>
        <li>You can find me wandering here:</li>
        <li><Social platform="linkedin" username="in/federico-denni"/></li>
        <li><Social platform="github" username="fre-denni"/></li>
        <li><Social platform="instagram" username="federicodenni"/></li>
        </ul>
    </div>
</footer>