---
---
<div class="header">
    <div class="logo-box">
        <a href="/">
        <img class="logo" alt="fre-denni logo">
        </a>
    </div>
    <div class="navbar">
        <div class="menu-items">
            <p class="menu-item"><a href="/works/">works</a></p> 
            <p class="menu-item"><a href="/about/">who?</a></p>
        </div>
    </div>
</div>
