---
//import Navigation from "./Navigation.astro"
import Social from "./Social.astro"
---

<footer class="footer">
    <div class="footer-main">
        <div class="footer-row">
            <div class="action-call">
                <img class="smiley" alt="attract-attention">
                <p class="sub-head">would you hire me?</p><!--consider other catchprase -->
                <a href="mailto:federico.denni.design@gmail.com?subject=Hi!">get in touch!</a>
            </div>
            <div class="footer-link">
                <p>Design and Coded with ♥</br>
                You can find me wandering here:</p>
                <ul>
                <li><Social platform="linkedin" username="in/federico-denni"/></li>
                <li><Social platform="github" username="fre-denni"/></li>
                <li><Social platform="instagram" username="federicodenni"/></li>
                </ul>
            </div>
            <div class="footer-menu">
                <!--menu links -->
            </div>
            <div class="goback-btn">
                <!--go back component -->
            </div>
        </div>
    </div>
</footer>