---
//import Navigation from "./Navigation.astro"
import Social from "./Social.astro"
---

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="column large-11-20 xlarge-2-3 action-call"> <!--nice-->
                <img class="smiley" alt="attract-attention">
                <p>Thank you <br/>for visiting!</p>
            </div>
            <div class="column medium-2-5 large-3-10 xlarge-1-3 contact"> <!--email-->
                <p>
                    Let's get in touch: <br />
                    <div class="link">
                    <img class="hand-img" alt="hand">
                    <a href="mailto:federico.denni.design@gmail.com?subject=Hi!">Send me a mail!</a>
                    </div>
                </p>
            </div>
            <div class="column medium-3-10 large-1-4 xlarge-1-3 social-link"> <!--link social-->
                <p>
                    You can find me wandering here: <br/>
                    <Social platform="linkedin" username="in/federico-denni"/>
                    <Social platform="instagram" username="federicodenni"/>
                    <Social platform="read.cv" username="fre_denni"/>
                </p>
            </div>
            <div class="column medium-3-10 large-1-4 xlarge-1-6 work-link"> <!--link lavoro-->
                <p>You can also find more work here: <br/>
                    <Social platform="github" username="fre-denni"/><br/>
                </p>
            </div>
            <div class="column small-1-2 medium-2-3 large-9-20 xlarge-1-3 nav"> <!--link menu-->
                <ul class="menu">
                    <li><a href="/">Works</a></li>
                    <!--li><a href="/experiments/">Ideas</a></li-->
                    <li><a href="/about/">About</a></li>
                </ul>
            </div>
            <div class="column small-1-2 medium-1-3 large-1-5 xlarge-1-6 copy"><!--designed with love-->
                <p>
                Design and Coded by myself!
                <br/>
                using <a href="https://astro.build/" target="blank">Astro</a> && ♥
                </p>
            </div>
        </div>
    </div>
</footer>