---
import BaseLayout from "../layouts/BaseLayout.astro";
const {frontmatter} = Astro.props;
---

<BaseLayout>
    <div class="page-about">
        <div class="container">
            <slot/>
        </div>
    </div>
    <hr />
    <div class="cv">
        <div class="row"><!-- here goes the skills--></div>
        <div class="row"><!-- here goes the experiences--></div>
        <div><!-- here goes something interactive && fun--></div>
    </div>
</BaseLayout>