---
import BaseLayout from "../layouts/BaseLayout.astro";
const {frontmatter} = Astro.props;
---

<BaseLayout>
    <div class="page-about">
            <section class="row">
                    <div class="column medium-1-2 large-1-2">
                        <div class="inner">
                            <slot/>
                        </div>
                    </div>
                <div class="column medium-1-2 large-1-2">
                    <div class="image">
                        <img loading="lazy" src={frontmatter.profilepic.url} alt={frontmatter.profilepic.alt} width="1280" height="914"/>
                    </div>
                </div>
            </section>
    </div>
    <hr />
    <div class="cv">
        <div class="row"><!-- here goes the skills--></div>
        <div class="row"><!-- here goes the experiences--></div>
        <div><!-- here goes something interactive && fun--></div>
    </div>
</BaseLayout>