---
import BaseLayout from "../layouts/BaseLayout.astro";
const {frontmatter} = Astro.props;
---

<!--RICORDATI DI MODIFICARE TUTTI I LINK DEGLI AHREF DA ABOUT.ASTRO A ABOUT.MD -->
<!--aggiungi questo layout al file md -->

<BaseLayout>
    <div class="page-about">
        <slot/>
    </div>
    <hr />
</BaseLayout>