---
import '@fontsource/geist-mono/400.css'; //medium
import '@fontsource/geist-mono/600.css'; //bold
import '@fontsource/geist-sans/400.css'; //medium
import '@fontsource/geist-sans/600.css'; //bold
import '../styles/global.css'; //global styles
import { ViewTransitions } from "astro:transitions"; //main animations

/*components*/
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Federico Denni</title>
    <ViewTransitions/>
  </head>
  <body>
    <Header />
      <main class="wrapper">
          <div class="container">
            <slot/>
          </div>
        <Footer/>
      </main>
    <script>
      import "../scripts/menu.js";
      import "../scripts/navigation.js"
      import "../scripts/tag.js"
    </script>
  </body>
</html>